@model Emison.Guests.ViewModels.EventGreetings
@{
    ViewData["Title"] = "Greetings";
}
@{
  var createParams = new Dictionary<string, string>
  {
      { "invitationCode", Model.InvitationCode.ToString() },
      { "eventId", Model.EventId.ToString() }
  };
}
<div class="text-center">
    <h1 class="display-4">Greetings</h1>
    @foreach (var greeting in Model.Greetings)
    {
      <div>
        <span>@greeting.Text</span>
        <span>@greeting.Signature</span>
        <img width="200" src="@greeting.File" />
      </div>
    }
    <a class="nav-link text-dark" asp-area="Guests" asp-controller="Greetings" asp-action="Create" asp-all-route-data="createParams">Create new</a>
</div>
